footer {
    background-color: #0f3460;
    padding: 100px 0;
    color: #fff;
  }
  footer p {
    font-size: 14px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 20px;
  }
  footer h2 {
    margin-bottom: 20px;
  }
  footer li {
    margin-bottom: 10px;
    opacity: 0.5;
  }