@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.background {
  background-color: #f6f9fc;
  padding: 50px 0;
}

.container {
  max-width: 90%;
  margin: auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
}

.c_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f_flex {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.RText {
  text-align: right;
}

input,
button {
  border: none;
  outline: none;
  background-color: none;
}

.row {
  width: 50%;
}

.icon-circle {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: #f6f9fc;
  margin-left: 20px;
  text-align: center;
  border-radius: 50px;
}
.discount{
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 10px;
  font-size: 12px;
  border-radius: 50px;
  background: #e94560;
  color: white;
  margin: 10px;
}
.boxShadow {
  box-shadow: rgb(43 52 69/10%) 0 4px 16px;
}

/*-------Category--------*/
.contentWidth {
  width: 77%;
}

.category {
  width: 23%;
  box-shadow: rgb(43 52 69/10%) 0 4px 16px;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}

.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;

}

.category span {
  margin: 12px 20px;
  text-transform: capitalize;
}

.category .box {
  transition: 0.5s;
  padding: 0 20px;
}

.category .box:hover {
  background-color: #ffe1ef;
  /* cursor: pointer; */
}

/*-------Category--------*/

.btn-primary {
  background-color: #e94560;
  padding: 13px 40px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.top {
  margin-top: 80px;
}

.mtop {
  margin-top: 40px;
}

.heading i {
  color: #e94560;
  margin: 10px;
}

/*-------Product--------*/
.product {
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 8px;
  box-shadow: rgb(3 0 71/9%) 0 1px 3px;
  margin: 10px;
}
.product h3{
  font-weight: 400;
  font-size: 17px;
}
.product .rate i{
  font-size: 15px;
  color: #ffcd4e;
  margin: 5px 5px 5px 0;
}
.product .price{
  display: flex;
  justify-content: space-between;
  color: #e94560;
}
.product button{
  background: none;
  color: #e94560;
  font-size: 20px;
  border: 1px solid rgb(3 0 71/9%);
  width: 35px;
  height: 35px;
  border-radius: 5px;
  transition: 0.5;
}
.product button:hover{
  cursor: pointer;
  background-color: #e94560;
  color: white;
}
.product-like{
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  opacity: 0;
  transition: 0.5s;
}
.product-like label{
  background-color: #1bb8c0;
  padding: 1px 10px;
  font-size: 12px;
  color: white;
  border-radius: 50px;
}
.product-like i{
  font-size: 20px;
  margin: 10px 3px;
}
.product:hover .product-like{
  opacity: 1;
  cursor: pointer;
}

/*-------control-btn--------*/
.control-btn .next,
.control-btn .prev{
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;  
  line-height: 50px;
  background-color: #25c5ce;  
  border-radius: 50%;
  transition: 0.5s;
  z-index: 5;
}
.control-btn .prev{
  left: -20px;
}
.control-btn .next{
  right: 20px;
}
.control-btn .next i,
.control-btn .prev i{
  font-size: 20px;
  transition: 0.5s;
  color: white;
}
.control-btn .next:hover ,
.control-btn .prev:hover{
  background: #e94560;
  color: white;
  cursor: pointer;
}

/*-------heading--------*/
.heading .heading-left i{
  font-size: 30px;
}
.heading .heading-left h2{
  font-size: 25px;
  margin-top: 5px;
}
.heading .heading-left i,
.heading .heading-left {
  text-align: right;
  color: grey;
}

/*-------heading--------*/